*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #454445;
}
li, a, button{
    text-decoration: none;
}

/* header ----------*/
header{
    margin-top: -1.5px;
    margin-right: 12px;
    margin-bottom: 0;
    margin-left: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    display: flex;
    align-items: center;
}
.header-left .logo{
    width: 48px;
    height: 48px;
    cursor: pointer;
    margin-right: 1vw;
}
.nav-links{
    list-style: none;
    margin-bottom: 10px;
}
.nav-links li{
    display: inline-block;
}
.nav-links li:nth-of-type(1):hover{
    border-bottom: 3px solid #5dca88;
    margin-bottom: -3px;
    transition-duration: 0.2s;
}
.nav-links li:nth-of-type(2){
    opacity: 0.5;
}
.nav-links li a{
    display: inline-block;
    padding-top: 24px;
    padding-right: 8px;
    padding-bottom: 12px;
    padding-left: 8px;
    font-weight: bolder;
}

/* -------------------------- */
.header-right{

}
.dropmenu{
    list-style-type: none;
}
.dropmenu:before, .dropmenu:after{

}
.dropmenu:after{
    
}
.dropmenu li{
    position: relative;
}
.dropmenu li span{
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 90%;
}
.dropmenu li ul{
    list-style: none;
    position: absolute;
    z-index: 888;
    top: 128%;
}
.dropmenu li ul li{
    
}
.dropmenu li ul li a{
    padding: 8px 0px;
    border-top: 1px solid #707070;
    background: #fff;
    text-align: center;
    display: block;
    width: 80px;
    font-size: 90%;
}
.dropmenu li ul li a:hover{
    background: #eaeaea;
}
.dropmenu li:hover span{
    background: #eaeaea;
}
.dropmenu li span:hover{
    
}

#dropmenu li ul li{
    overflow: hidden;
    height: 0;
    transition: 0.2s;
}
#dropmenu li:hover ul li{
    overflow: visible;
    height: 39px;
}

hr{
    margin-bottom: 48px;
    border: 0.5px solid #454445;
}

/* main ------------------------------*/
main{
    margin: 0 24px;
}

/* showcase -----------------------*/
.showcase{
    text-align: center;
    margin-bottom: 36px;
}
/* register-button ----------------*/
.register-flex{
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}
.subscribe-btn{
    background-color: #5dca88;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 8px 8vw;
    border-radius: 24px;
    transition: 0.4s;
}
.subscribe-btn:hover{
    background-color: #479c69;
    color: #fff;
    cursor: pointer;
}
section{
    display: flex;
    justify-content: space-around;
}
.section-a, .section-b, .section-c, .section-d{
    text-align: center;
    align-items: center;
    margin-bottom: 48px;
}
.section-a{

}
.img-a, .img-b, .img-c, .img-d{
    box-shadow: 0px 0px 12px #ddd;
    opacity: 0.1;
    transition: 1.0s;
}
.isAnimate{
    opacity: 1;
}
.img-a{
    width: 40%;
    max-width: 360px;
    margin-right: 2vw;
}
.text-content{

}
.section-b{
    
}
.img-b{
    width: 40%;
    max-width: 360px;
    margin-left: 2vw;
}
.section-c{

}
.img-c{
    width: 40%;
    max-width: 360px;
    margin-right: 2vw;
}
.section-d{
    
}
.img-d{
    width: 40%;
    max-width: 360px;
    margin-left: 2vw;
}

/* Q&A --------------------------------*/
.QA{
    margin-top: 48px;
    margin-right: 12vw;
    margin-bottom: 240px;
    margin-left: 12vw;
}
.QA h1{
    text-align: center;
    margin-bottom: 24px;
    border-bottom: 1px solid #454445;
}
.QA-card{
    background-color: #F0F4F9;
    border-radius: 4px;
    padding: 4vw;
}
.QA-card h4{
    margin-bottom: 8px;
}
.QA-card{
    margin-bottom: 24px;
}


/* footer -------------------------*/
footer{
    background-color: #454445;
}
footer li, footer a,footer p, footer span, footer h3{
    color: #fff;
}
footer .footer-logo{
    padding: 12px 0;
    border-bottom: 3px solid #f0f0f0;
    display: flex;
    align-items: center;
}
footer .footer-logo span{
    font-family: 'Comic Sans MS';
    margin-left: 5vw;
    font-size: 200%;

}
footer .footer-flex{
    margin: 24px 5vw;
    display: flex;
}
footer .footer-flex h3{
    margin-bottom: 8px;
}
footer .footer-flex ul{
    list-style: none;
    font-size: 90%;
}
footer .footer-flex ul li{
    margin-bottom: 6px;
}
footer .footer-flex ul li a{
    transition: 0.2s;
}
footer .footer-flex ul li a:hover{
    color: #dddddd;
}
footer .footer-flex .footer-column:nth-of-type(1),
footer .footer-flex .footer-column:nth-of-type(2){
    margin-right: 8vw;
}
footer p{
    border-top: 1px solid #fff;
    padding: 8px 0;
    text-align: center;
    font-size: 60%;
    
}
